@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Prompt:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('https://images.unsplash.com/photo-1579546929518-9e396f3cc809?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
}

#welcome-text {
    text-align: center;
    width: 50%;
    height: 50vh;
    margin-left: 20%;
    padding: 5%;
    margin-top: 25vh;
}

.btn-grp {
    width: 82%;
    margin: 9%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-grp button {
    width: 30%;
    height: 7vh;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.form-block {
    width: 20%;
    margin: 35%;
    margin-top: 5%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-block h3{
    margin-bottom: 4vh;
}

.form-block input {
    width: 70%;
    padding-left: 5%;
    height: 5vh;
    margin-bottom: 4vh;
}

.form-block button {
    height: 5vh;
    background-color: black;
    color: white;
    width: 40%;
    border-radius: 10px;
    cursor: pointer;
}

#flash-card{
    position: fixed;
    width:40%;
    left:30%;
    bottom:2vh;
    background-color: black;
    color:white;
    padding: 2vh;
}

#flash-card-fail{
    position: fixed;
    width:40%;
    left:30%;
    bottom:2vh;
    background-color: rgb(255, 78, 78);
    color:white;
    padding: 2vh; 
    border: 2px solid black;
}

.top-bar{
    width: 80%;
    margin-left:10%;
    margin-top:4vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-bar button {
    height: 5vh;
    background-color: black;
    color: white;
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
}

.dashboard-block{
    width:50%;
    margin-left:25%;
    margin-top:4vh;
}

.messages{
    width: 80%;
    margin-left:10%;
    margin-bottom: 4vh;
}

.message-item{
    margin-top:4vh;
    padding: 5%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.messages button {
    height: 5vh;
    background-color: black;
    color: white;
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
    margin-top:4vh;
}

.profile_pic{
    width:10%;
    margin-top:5%;
    margin-left:45%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.profile_pic img{
    width: 90%;
    margin:5%;
    border-radius: 10px;
}

.file-input{
    display: none;
}

#data-text{
    margin-bottom: 4vh;
    width: 80%;
    margin-left: 5%;
    padding: 5%;
}