<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="top-bar">
        <div>
            <h3>Hi There!</h3>
        </div>
        <button id="logout-button">
            Logout
        </button>
    </div>
    <div class="profile_pic" onclick="openFileUploader()">
        <img src="https://www.freepnglogos.com/uploads/camera-logo-png/camera-icons-vector-backgrounds-11.png" alt="" id="profile_img">
        <input type="file" class="file-input" id="fileInput" onchange="handleFileSelect()">
    </div>
    <div class="dashboard-block">
        <div class="messages">
            <button id="generate-qr">GENERATE QR</button>
        </div>
    </div>
    <script src="assets/js/dashboard.js"></script>
</body>

</html>