<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="form-block">
        <center>
            <h3>Send Message</h3>
        </center>
        <textarea id="data-text" rows="10"></textarea>
        <button id="post-button">Submit</button>
    </div>
    <script type="module" src="assets/js/post.js"></script>
</body>

</html>