<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="form-block">
        <center>
            <h3>Register</h3>
        </center>
        <input type="text" placeholder="email" id="email">
        <input type="password" id="password" placeholder="password">
        <button id="submit">Submit</button>
    </div>
</body>

</html>